:root {
    --yellow: #ff0;
    --red: #f00;
    --green: #0f0;
    --black: #000;
    --gray: #ccc;
}

.Light {
    border: solid 1px var(--black);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: block;
}

.off {
    background-color: var(--gray);
}

.red {
    background-color: var(--red);
}

.yellow {
    background-color: var(--yellow);
}

.green {
    background-color: var(--green);
}
